.buttons {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 9px;
    overflow: hidden;
} 

.button {
    width: 50%;
    min-height: 50px;
    box-sizing: border-box;
    padding: 5px 30px;
    background: #FFFFFF;
    border: 1px solid #DFE5EC;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #4A4A4A;

    input {
        display: none;
    } 

    &_active {
        background: #2196F3;
        color: #FFFFFF;
    }
}

